
#simple-translate-panel {
    all: initial;
    color: #000;
    background-color: #ddd;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    min-height: 20px;
    max-height: 200px;
    line-height: 150%;
    height: auto;
    min-width: 10px;
    max-width: 300px;
    position: fixed;
    padding: 15px;
    z-index: 2147483646;
    left: 0px;
    top: 0px;
    display: none;
    overflow-y: auto;
}

#simple-translate-panel p {
    all: initial;
    font-family: 'Sans', 'Veradana', 'Roboto', 'Helvetica', sans-serif !important;
    text-align: left;
    display: inline-block;
    margin: 0;
    word-wrap: break-word;
}

#simple-translate-panel p::-moz-selection {
    background: #30a8f7;
}

